.taitel {
  background-color: aqua
}

.btn1 {
  background-color: #3ba1f2;
  color: white
}

.ntuit {
  margin-bottom: 30px;
  color: white
}

.field1 {
  margin-left: 5px;
  margin-top: 10px;
}

.title1 {
  margin-left: 30px;
}

